*{
    margin: 0;
    padding: 0;
}

.logoCpce{
    background-color: rgb(199, 198, 202);
    max-width: auto;
}

.gridContainer{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 70px auto auto auto auto 100px;
    grid-template-areas: "header"
    "barraNavegacion" 
    "seccionOrtopedia"
    "seccionOrtopediaText " 
    "seccionMedicamentos"
    "seccionMedicamentosText"
    "footer"
    ;
}

header{
    grid-area: header;
    background-color: rgb(199, 198, 202);    
    display: flex;
    justify-content:flex-start;

}

div.barraNavegacion{
    grid-area: barraNavegacion;
}

section.seccionOrtopedia{
    grid-area: seccionOrtopedia;
}

section.seccionOrtopediaText{
    grid-area: seccionOrtopediaText;
}

section.seccionMedicamentos{
    grid-area: seccionMedicamentos;
}

section.seccionMedicamentosText{
    grid-area: seccionMedicamentosText;
}
footer{
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

/* .barraNavegacion ul{
    display: flex;
    justify-content: space-around;
}

li{
    padding: 10px;
    list-style-type: none;
} */

@media screen and (min-width: 768px){
    .gridContainer{
        grid-template-columns: repeat(2,50%);
        grid-template-rows: 100px 70px auto auto 100px;
        grid-template-areas: "header header"
        "barraNavegacion barraNavegacion" 
        "seccionOrtopedia seccionOrtopediaText " 
        "seccionMedicamentos seccionMedicamentosText"
        "footer footer"
    }
}

.tituloPrincipal{
        color:black;
        background-color: rgb(199, 198, 202);
        font-family: 'Josefin Sans', sans-serif;
        font-size:x-large;
        font-weight: bolder;
        /* opacity: 0.95;
        padding: 5px;
        margin: 1px 10px 10px 10px;
        position: fixed;
        left: 80px;
        top: 20px; */
}


/* .barraNavegacion{
    display: inline-block;
    background: rgb(172, 169, 243);
    color: rgb(251, 250, 248);
    padding: 10px 30px;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: large;    
} */

.barraNavegacion:hover{
    background: rgb(142, 187, 233);
}

nav ul li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgb(159, 157, 161);
    padding: 10px;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: large;
 

