@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Light.ttf'); 
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #dbedf3;
}

.border {
    border: 1px solid black;
    border-radius: .3em;
}

.grilla{
    display:grid;
    gap:10px;
    height: 100vh;
    grid-template-columns: 50% 50%;
    grid-template-rows:.5fr .5fr 5fr .5fr;
    grid-template-areas: "header header"
"nav nav"
"protesis medicamentos"
"footer footer"
}


.grillaConcursos{
    display:grid;
    gap:10px;
    height: 100vh;
    grid-template-columns: 80% 20%;
    grid-template-rows:.5fr .5fr 1fr 1fr .5fr;
    grid-template-areas: "header header"
"nav nav"
"protesisConcurso blanco"
"medicamentosConcurso blanco"
"footer footer"
}


.grillaCotizaciones{
    display:grid;
    gap:10px;
    height: 100vh;
    grid-template-columns: 50% 50%;
    grid-template-rows:.5fr .5fr 1fr 1fr .5fr;
    grid-template-areas: "header header"
    "nav nav"
    "panelIzq panelDer"
    "panelCentral panelCentral"
    "footer footer"
}


.grillaSeguimiento{
    display:grid;
    gap:10px;
    height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows:.5fr .5fr 2fr 2fr .5fr;
    grid-template-areas: "header"
"nav"
"seguimientoSecc"
"panelAbajo"
"footer"
}



.grillaGestionUsu{
    display:grid;
    gap:10px;
    height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows:.5fr .5fr 3fr 1fr .5fr;
    grid-template-areas: "header"
"nav"
"inputDatos"
"panelCaptcha"
"footer"
}



header{
    grid-area: header;
    background-color: #4e94ab;
    display: flex;
    flex-direction: row;
    justify-content:first baseline;
    align-items: center;
    padding: 5px;
}

nav{
    grid-area:nav;
}

aside{
    grid-area:blanco;
    background-color: #073a4b;
}

footer{
    grid-area: footer;
    font-family: 'Roboto', sans-serif;
    background-color: #4e94ab;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap: wrap;
    align-items: center;
    font-weight: bolder;
    padding: 5px;
}

section#protesis{
    grid-area: protesis;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(193, 207, 216);
    display: flex;
    flex-direction: column;
    justify-content:first baseline;
    align-items: center;
    padding: 50px;
}

section#medicamentos{
    grid-area: medicamentos;
    font-family: 'Roboto', sans-serif;
    background-color:rgb(190, 172, 165);
    display: flex;
    flex-direction: column;
    justify-content:first baseline;
    align-items: center;
    padding: 50px;
}


section#protesisConcurso{
    grid-area: protesisConcurso;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(193, 207, 216);
    display: flex;
    flex-direction: column;
    justify-content:first baseline;
    align-items: center;
    padding: 10px;
}

section#medicamentosConcurso{
    grid-area: medicamentosConcurso;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(193, 207, 216);
    display: flex;
    flex-direction: column;
    justify-content:first baseline;
    align-items: center;
    padding: 10px;
}




section#panelIzq{
    grid-area: panelIzq;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(193, 207, 216);
    display: flex;
    flex-direction: column;
    justify-content:first baseline;
    align-items: center;
    padding: 10px;
}

section#panelDer{
    grid-area: panelDer;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(193, 207, 216);
    display: flex;
    flex-direction: column;
    justify-content:first baseline;
    align-items: center;
    padding: 10px;
}

section#panelCentral{
    grid-area: panelCentral;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(193, 207, 216);
    display: flex;
    flex-direction: column;
    justify-content:first baseline;
    align-items: center;
    padding: 10px;
}


section#seguimientoSecc{
    grid-area: seguimientoSecc;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(193, 207, 216);
    display: flex;
    flex-direction: column;
    justify-content:first baseline;
    align-items: center;
    padding: 10px;
}

section#panelAbajo{
    grid-area: panelDer;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(193, 207, 216);
    display: flex;
    flex-direction: column;
    justify-content:first baseline;
    align-items: center;
    padding: 10px;
}


section#inputDatos{
    grid-area: inputDatos;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(193, 207, 216);
    display: flex;
    flex-direction: column;
    justify-content:first baseline;
    align-items: center;
    padding: 10px;
}

section#panelCaptcha{
    grid-area: panelCaptcha;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(193, 207, 216);
    display: flex;
    flex-direction: column;
    justify-content:first baseline;
    align-items: center;
    padding: 10px;
}


.flexible{
    display: flex;
    justify-content:left;
    /* justify-items: center; */
}

@media screen and (max-width:468px){
    .grilla{
        grid-template-columns: 100%;
        grid-template-rows:1fr 1fr 1fr 1fr .5fr;
        grid-template-areas: "header"
    "nav"
    "protesis"
    "medicamentos"
    "footer"
    }

    .border{
        background-color: lightcoral;
    }

}


@media screen and (max-width:468px){
    .grillaConcursos{
        display:grid;
        gap:10px;
        height: 100vh;
        grid-template-columns: 100%;
        grid-template-rows:.5fr .5fr 2fr 2fr .5fr;
        grid-template-areas: "header"
    "nav"
    "protesisConcurso"
    "medicamentosConcurso"
    "footer footer"
    }

    .border{
        background-color: lightcoral;
    }

}

@media screen and (max-width:468px){
    .grillaCotizaciones{
        display:grid;
        gap:10px;
        height: 100vh;
        grid-template-columns: 100%;
        grid-template-rows:.5fr .5fr 1fr 1fr 1fr .5fr;
        grid-template-areas: "header"
    "nav"
    "panelIzq"
    "panelDer"
    "panelCentral"
    "footer footer"
    }

    .border{
        background-color: lightcoral;
    }

}


.menu{
    display: flex;
    padding: 0;
    justify-content:space-between;
    height: 50px;
    background-color: #4e94ab;
}

.menu ul{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    justify-items:last baseline;
}

.menu li{
    text-align: center;
    flex-grow: 1;
    border-right: 1px solid  #fff;
}


.menu li:hover{
    background-color: rgba(0,0, 0, 0.1);
}

.menu li a{
    display: block;
    padding: 15px 10px;
    color: #fff;
    text-decoration: none;
}

.tituloPrincipal{
    background-color: #4e94ab;
    font-family: 'Roboto', sans-serif;
    font-size:large;
    color: white;
}

#leyenda {
    font-family: 'Roboto', sans-serif;
    font-size: large;
    font-weight: bolder;
    color:rgb(112, 31, 20);
    margin: 5px;
}

#leyendaBold {
    font-family: 'Roboto', sans-serif;
    font-size:x-large;
    font-weight: bolder;
    color:rgb(112, 31, 20);
    margin: 5px;
}

#leyendaBlancaBold {
    font-family: 'Roboto', sans-serif;
    font-size:x-large;
    font-weight: bolder;
    color:white;
    margin: 5px;
}


#requisitosClas {
    display: flex;
    flex-direction: column;
    justify-content:first baseline;
    align-items: center;
    padding: 50px;

    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: large;
    margin: 10px;
    color: #008BFF;
    border: 1px solid #008BFF;
}


/* css lista Concursos*/
.requisitos{
	width:450px;

}
.requisitos ol{
	            counter-reset: li;
				list-style: none;
				*list-style: decimal;
				font: 15px 'trebuchet MS', 'lucida sans';
				padding: 0;
				margin-bottom: 4em;

}
.requisitos ol ol{
				margin: 0 0 0 2em;
			}

.requisitos a{
				position: relative;
				display: block;
				padding: .4em .4em .4em 2em;
				*padding: .4em;
				margin: .5em 0;
				background: #FFF;
				color: #444;
				text-decoration: none;
				-moz-border-radius: .3em;
				-webkit-border-radius: .3em;
				border-radius: .3em;
			}

.requisitos a:hover{
				background: #cbe7f8;
				text-decoration:underline;
			}
.requisitos a:before{
				content: counter(li);
				counter-increment: li;
				position: absolute;
				left: -1.3em;
				top: 50%;
				margin-top: -1.3em;
				background: #87ceeb;
				height: 2em;
				width: 2em;
				line-height: 2em;
				border: .3em solid #fff;
				text-align: center;
				font-weight: bold;
				-moz-border-radius: 2em;
				-webkit-border-radius: 2em;
				border-radius: 2em;
				color:#FFF;
			}

/* fin css lista Concursos*/

.Neon {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #494949;
    position: relative;
}
.Neon * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.Neon-input-dragDrop {
    display: block;
    width: 343px;
    margin: 0 auto 25px auto;
    padding: 25px;
    color: #8d9499;
    color: #97A1A8;
    background: #fff;
    border: 2px dashed #C8CBCE;
    text-align: center;
    -webkit-transition: box-shadow 0.3s, border-color 0.3s;
    -moz-transition: box-shadow 0.3s, border-color 0.3s;
    transition: box-shadow 0.3s, border-color 0.3s;
}
.Neon-input-dragDrop .Neon-input-icon {
    font-size: 48px;
    margin-top: -10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.Neon-input-text h3 {
    margin: 0;
    font-size: 18px;
}
.Neon-input-text span {
    font-size: 12px;
}
.Neon-input-choose-btn.blue {
    color: #008BFF;
    border: 1px solid #008BFF;
}
.Neon-input-choose-btn {
    display: inline-block;
    padding: 8px 8px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    font-size: 12px;
    font-weight: bold;
    color: #8d9496;
    border-radius: 3px;
    border: 1px solid #c6c6c6;
    vertical-align: middle;
    background-color: #fff;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.05);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}


.parrafoColor {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: large;
    margin: 10px;
    color: #008BFF;
}

.subtitulos {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size:xx-large;
    margin: 10px;
    color: #008BFF;
}


.requisitos1{
    position: relative;
    display: block;
    font-weight: bolder;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    background: #FFF;
    color: #444;
    text-decoration: none;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    border-radius: .3em;
}

table {
    border: 2px solid rgb(53, 4, 110);
    border-collapse: collapse;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: medium;
    margin: 20px;
    color: #05355c;

  }
  table th {
    background: #F5F5F5 url() repeat-x;
    padding: 0 .3em;
  }
  table th.enviada {
    background: #E6F3FF url(../img/PASO1.png) no-repeat left;
    padding: 10px 60px;
  }
  table th.oc {
    background: #E6F3FF url(../img/PASO2.png) no-repeat left;
    padding: 10px 60px;
  }
  table th.factura {
    background: #E6F3FF url(../img/PASO3.png) no-repeat left;
    padding: 10px 60px;
  }
  table th.pago {
    background: #E6F3FF url(../img/PASO4.png) no-repeat left;
    padding: 10px 60px;
  }
  table th, table, td {
    border: 1px solid #333;
    line-height: 2em;
  }
  .fila {
    text-align: left;
  }
  .par {
    background-color:#FFFFCC;
  }
  table tr:hover {
    background: #FFFF66;
  }


  form{
	width:400px;
	padding:50px;
	border-radius:10px;
	margin:auto;
	background-color:rgb(129, 149, 238);
}

form label{
	width:72px;
	font-weight:bold;
	display:inline-block;
}

form input[type="text"],
form input[type="email"],
form input[type="password"]
{
	width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 10px;
	display:inline-block;
}

form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
}

form input[type="submit"]:hover{
	cursor:pointer;
}

textarea{
	width:100%;
	height:100px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	resize:none;
	display:block;
}

/* ANIMACION */

.contenedor{
    display:flex;
    justify-content: center;
    /* position: relative; */
    width: 100%;
    height: 100%;
    margin: 10px;
  }


  .ball{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: radial-gradient(
            circle at 0 0,
            rgb(86, 247, 65) 25%,
            rgb(5, 63, 20) 70%,
            hsl(60,100%,1%));
    animation: rebota 1s alternate infinite ease-in;
  }
  
  .shadow{
    width: 100px;
    height: 1px;
    background: #000;
    box-shadow: 0 0 5px 5px #000;
    border-radius: 50%;
    position: absolute;
    top: 288px; 
    opacity: .2;
    transform: scale(0.5);
    animation: sombra 1s alternate infinite ease-in;
  }
  
  @keyframes sombra{ 
    
    100%{
      transform: scale(1);
      opacity: .5
    }
  }
  
  @keyframes rebota{
    90%{
      height: 100px;
    }
    
    100%{
      transform: translateY(200px);
      height: 80px;
    }
  }