@import "./utilities/variables";

@import "./base/reset";
@import "./layout/general";
@import "./layout/header";
@import "./layout/main";
@import "./layout/footer";

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Light.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

    textarea{
        width:100%;
        height:100px;
        border:1px solid #f6f6f6;
        border-radius:3px;
        background-color:#f6f6f6;
        margin:8px 0;
        resize:none;
        display:block;
    }
    
    /* ANIMACION */
    
    .contenedor{
        display:flex;
        justify-content: center;
        /* position: relative; */
        width: 100%;
        height: 100%;
        margin: 10px;
      }
    
    
      .ball{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: radial-gradient(
                circle at 0 0,
                rgb(86, 247, 65) 25%,
                rgb(5, 63, 20) 70%,
                hsl(60,100%,1%));
        animation: rebota 1s alternate infinite ease-in;
      }
    
    
      @keyframes rebota{
        90%{
          height: 100px;
        }
    
        100%{
          transform: translateY(200px);
          height: 80px;
        }
      }
    
// section#protesis{
//     grid-area: protesis;
//     font-family: 'Roboto', sans-serif;
//     background-color: rgb(193, 207, 216);
//     display: flex;
//     flex-direction: column;
//     justify-content:first baseline;
//     align-items: center;
//     padding: 10px;
// }

// section#medicamentos{
//     grid-area: medicamentos;
//     font-family: 'Roboto', sans-serif;
//     background-color:rgb(190, 172, 165);
//     display: flex;
//     flex-direction: column;
//     justify-content:first baseline;
//     align-items: center;
//     padding: 10px;
// }
    
    
// section#protesisConcurso{
//     grid-area: protesisConcurso;
//     font-family: 'Roboto', sans-serif;
//     background-color: rgb(193, 207, 216);
//     display: flex;
//     flex-direction: column;
//     justify-content:first baseline;
//     align-items: center;
//     padding: 10px;
// }
    
// section#medicamentosConcurso{
//     grid-area: medicamentosConcurso;
//     font-family: 'Roboto', sans-serif;
//     background-color: rgb(193, 207, 216);
//     display: flex;
//     flex-direction: column;
//     justify-content:first baseline;
//     align-items: center;
//     padding: 10px;
// }

// #leyendaBlancaBold {
//     font-family: $font-family-general, sans-serif;
//     font-size:x-large;
//     font-weight: bolder;
//     color:white;
//     margin: 5px;
// }