$box-general: 1px solid #008BFF;
$box-shadow-bottom: 0 2px 1px 0 rgba(0,0,0,2);

$color-principal: #e8eeee;
$color_subtitulos:#0e6dbb;
$color_subtitulos_adicional:#762f03;
$color-paneles:rgb(193, 207, 216);
$color-borde: #05355c;

$font-family-general: 'Roboto', sans-serif;